<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
  interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility, Version=26.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
  type="MFG468044.JobCommandExtension, MFG468044">
    </extension>
    <extension
     interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility"
     type="MFG468044.JobExtension, MFG468044">
      <setting key="JobType1" value="AU2020.MFG468044"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>